@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<RelationObject> objects = (List<RelationObject>)ViewData["objects"];
    RelationObject selectedObject = (RelationObject)ViewData["selectedObject"];
    List<Predicate> selectedObjectIsA=(List<Predicate>)ViewData["selectedObjectsIsA"];
    List<Predicate> selectedObjectIsC=(List<Predicate>)ViewData["selectedObjectsIsC"];
    List<Predicate> selectedObjectIsP=(List<Predicate>)ViewData["selectedObjectsIsP"];
}
<div class="container-fluid bg-dark text-light pt-5 pb-5 mb-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
            </div>
            <div class="col-sm-5 d-flex">
            </div>
        </div>

    </div>
</div>
<div style="position: absolute;" class="bg-dark container-fluid py-5"></div>
        </div>
<!-- End Header Content -->
<!-- Start Main Content -->
<div class="container mb-5">
    <!-- First Card -->
    <div class="row">
        <div class="col-12 card card-3 pb-4 mt-5">
            <div class="row">
                <div class="col-6">
                    <div class="card text-center p-2 mb-4 card-3 title-card text-light"><span class="h4">View Objects</span></div>
                </div>
            </div>
            <div class="row pl-5 pr-5">
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="h5" for="exampleFormControlSelect2">Select an object to view details</label>
                        <select multiple class="form-control" size="8" id="select-ratio">
                         @if (objects.Count > 0) {
                                     @foreach (RelationObject obj in objects) {
                                         if (obj.Name == selectedObject.Name)
                                         {
                                            <option selected value="@obj.Name">@obj.Name</option>
                                         }
                                         else
                                         {
                                            <option value="@obj.Name">@obj.Name</option>
                                         }

                            }


                          }
                           
                        </select>
                    </div>
                </div>

                <div class="col-md-6 pr-5">
                    <!-- Title -->

                    <p class="h4">Details</p>
                    <table class="table">
                        <tr>
                            <th scope="row">Name</th>
                            <td>@selectedObject.Name</td>
                        </tr>
                        <tr>
                            <th scope="row">Attribute (is a)</th>
                            <td>
                                <ul>
                                    @if (selectedObjectIsA.Count < 1)
                                    {
                                        <li>No "Is A" predicate relationships</li>

                                    }
                                    else
                                    {
                                        @foreach (Predicate obj in selectedObjectIsA)
                                        {
                                            <li>@obj.ObjectB</li>

                                        }

                                    }
                                   
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Association (is a part of)</th>
                            <td>
                                <ul>
                                    @if (selectedObjectIsP.Count < 1)
                                    {
                                        <li>No "Is A Part Of" predicate relationships</li>

                                    }
                                    else
                                    {
                                        @foreach (Predicate obj in selectedObjectIsP)
                                        {
                                            <li>@obj.ObjectB</li>

                                        }

                                    }
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Casuality (caused by)</th>
                            <td>
                                <ul>
                                    @if (selectedObjectIsC.Count < 1)
                                    {
                                        <li>No "Is Caused By" predicate relationships</li>

                                    }
                                    else
                                    {
                                        @foreach (Predicate obj in selectedObjectIsC)
                                        {
                                            <li>@obj.ObjectB</li>

                                        }

                                    }
                                  
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
               
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    document.addEventListener('DOMContentLoaded', () => {
        document.getElementById("select-ratio").onchange = (event) => {
            this.location.replace(`./ViewObjects?objName=${event.target.value}`);
        }
    });

</script>