
@{ 
    string page = ViewContext.RouteData.Values["controller"].ToString();

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500" rel="stylesheet">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
 
    
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-6 pt-3">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Corporate Performance Analyzer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item @(page == "Home" ? "active" : "")">
                        <a class="nav-link" asp-controller="Home">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item @(page == "Statements" ? "active" : "")">
                        <a asp-area="" class="nav-link" asp-controller="Statements" asp-action="Index">Statements</a>
                    </li>
                    <li class="nav-item dropdown @(page == "RatioConstruction" || page == "ViewRatios" ? "active" : "")">
                        <a class="nav-link" dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ratio
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-area="" asp-controller="RatioConstruction" asp-action="Index">Ratio Construction</a>
                            <a class="dropdown-item"asp-area="" asp-controller="ViewRatios" asp-action="Index">View Ratios</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown @(page == "ViewObjects" || page == "ObjectCreation" || page == "PredicateCreation" ? "active" : "")">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Knowledge
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-area="" asp-controller="ObjectCreation" asp-action="Index">Object</a>
                            <a class="dropdown-item" asp-area="" asp-controller="PredicateCreation" asp-action="Index">Predicate</a>
                            <a class="dropdown-item" asp-area="" asp-controller="ViewObjects" asp-action="Index">View Objects</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown @(page == "AddSource" | page == "ViewSource" ? "active" : "")">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Text
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-area="" asp-controller="AddSource" asp-action="Index">Add Source</a>
                            <a class="dropdown-item" asp-area="" asp-controller="ViewSource" asp-action="Index">View Source</a>
                        </div>
                    </li>
                    <li class="nav-item @(page == "Analysis" ? "active" : "")">
                        <a class="nav-link" asp-area="" asp-controller="Analysis" asp-action="Index">Analysis</a>
                    </li>
                </ul>


            </div>
        </nav>
        </div>
        @*<nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Corporate Performance Analyzer</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>*@
        <div class="">
            @RenderBody()
            
            <footer>
            </footer>
        </div>

            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js" integrity="sha256-vyehT44mCOPZg7SbqfOZ0HNYXjPKgBCaqxBkW3lh6bg=" crossorigin="anonymous"></script>
            @*<script src="js/script.js"></script>
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
            <script src="~/js/site.js" asp-append-version="true"></script>
       
        @RenderSection("Scripts", required: false)
</body>
</html>
