@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<Ratio> ratios = (List<Ratio>)ViewData["ratios"];
    List<CalculatedRatio> calculatedRatios = (List<CalculatedRatio>)ViewData["calculatedRatios"];
    List<Company> companies = (List<Company>)ViewData["companies"];
    Ratio currentRatio = (Ratio)ViewData["currentRatio"];
    Company currentCompany = (Company)ViewData["currentCompany"];
    List<Article> articles = (List<Article>)ViewData["articles"];
    Article selectedArticle = (Article)articles[0];
    var isZero = false;
}
<div class="container-fluid bg-dark text-light pt-5 pb-0 mb-0">
    <div class="container">
        

    </div>
</div>
<div style="position: absolute;" class="bg-dark container-fluid py-5"></div>
<!-- End Header Content -->
<!-- Start Main Content -->
<div class="container mb-5">
    <!-- First Card -->

    <div class="row">
        <div class="col-12 card card-3 pb-5 mt-5">
            <div class="row">
                <div class="col-6">
                    <div class="card text-center p-2 mb-4 card-3 title-card text-light"><span class="h4">Select Company</span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="company" class="h5">Company</label>
                        <select id="company-select" name="company" class="form-control">
                            @foreach (Company company in companies)
                            {
                                if (company.ID == currentCompany.ID)
                                {
                                    <option value="@company.ID" selected>@company.Name</option>
                                }
                                else
                                {
                                    <option value="@company.ID">@company.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="ratio" class="h5">Ratio</label>
                        <select id="ratio-select" name="ratio" class="form-control">
                            @foreach (Ratio ratio in ratios)
                            {
                                if (ratio.ID == currentRatio.ID)
                                {
                                    <option selected value="@ratio.ID">@ratio.Name</option>
                                }
                                else
                                {
                                    <option value="@ratio.ID">@ratio.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class='row mt-4'><button id="analyze-button" class="btn btn-lg btn-success ml-auto  p-2 text-lg card-1">Anaylze</button></div>
                </div>
                <div class="col-md-1"></div>
            </div>

        </div>
    </div>

    <!-- Second Card (Calculations) -->
    <div class="row">
        <div class="col-12 card card-3 pb-4 mt-5">

            <div class="row">
                <!-- First Column  -->
                <div class="col-md-4">
                    <!-- Title -->
                    <div class="card text-center p-2 mb-4 card-3 title-card text-light"><span class="h4">Ratio</span></div>
                    <p class="h4">Construction</p>
                    <table class="table">
                        <tr>
                            <td>Numerator</td>
                            <td>
                                <ul>
                                    @foreach (RatioConstruct c in currentRatio.Numerator)
                                    {
                                        <li>@c.Operator @c.Name</li>

                                    }
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>Denominator</td>
                            <td>
                                <ul>
                                    @foreach (RatioConstruct c in currentRatio.Denominator)
                                    {
                                        <li>@c.Operator @c.Name</li>

                                    }
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4 pr-5">

                    <!-- Ratio table -->
                    <div class="table-responsive px-3 py-1 mr-2">
                        <p class="h4 mt-5">History</p>
                        <table class="table table-sm mr-2">
                            <tbody>
                                @foreach (CalculatedRatio r in calculatedRatios)
                                {
                                    @if (r.Value == 0)
                                    {
                                        isZero = true;
                                    }
                                    <tr>
                                        <td>
                                            @r.Year
                                        </td>
                                        <td>
                                            @r.Value
                                        </td>
                                    </tr>

                                }

                            </tbody>
                        </table>
                        @if(isZero){
                            <p style="color:red;">No ratio value. @currentCompany.Name may not have data for these values.</p>
                        }
                    </div>
                    <!-- End Table -->
                </div>
                <!-- End First Column -->
                <!-- Second Column (Graph) -->
                <div class="col-md-4">
                    <!-- Graph -->
                    <div class="card text-center p-2 card-3 graph-card text-light">
                        <p class="h6">Graph</p>
                        <canvas class="text-light" id="myChart"></canvas>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card card-3 col-12 mt-5 pb-3">
            <div class="row">
                <div class="col-md-6">
                    <div class="card text-center p-2 mb-4 card-3 title-card text-light"><span class="h3">Smart Search</span></div>
                </div>
                <div class="col-md-6">

                </div>
                <!-- Title -->

            </div>
            <div class="row mb-5">
                <div class="col-md-2 pl-5 d-flex justify-content-between flex-column">
                    <p>Keywords</p>
                    
                        <div class="scroll-box card">
                            <select multiple="multiple" class="custom-select" id="keywords-select" size="8">
                                <option value="1">Alpha</option>
                                <option value="2">Beta</option>
                                <option value="3">Gamma</option>
                                <option value="4">Delta</option>
                                <option value="5">Epsilon</option>
                                <option value="1">Alpha</option>
                                <option value="2">Beta</option>
                                <option value="3">Gamma</option>
                                <option value="4">Delta</option>
                                <option value="5">Epsilon</option>
                            </select>
                        </div>
                        <div class="justify-content-end mt-3">
                            <button class="btn ml-auto text-lg card-1">Update</button>
                        </div>
                    </div>

                <div class="col-md-4 pl-1 pr-3">

                    <p class="h4">Select Article</p>
                    <div class="scroll-box card">
                        @foreach(Article article in articles)
                        {
                            <a href="#" role="button" class="chooseArticle list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <p class="mb-1">@article.Title</p>
                                <small>@article.Date</small>
                            </div>
                            <small>@article.Source</small>
                            <span class="articleBody" style="display: none;">@article.Body</span>
                            </a>

                        }
                        
                        
                    </div>
                </div>

                <div class="col-md-6">
                    <p id="selectedTitle" class="h4">@articles[0].Title</p>
                    <div class="card scroll-box p-3">
                        <p id="selectedBody">@articles[0].Body</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Main Content -->
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js" integrity="sha256-vyehT44mCOPZg7SbqfOZ0HNYXjPKgBCaqxBkW3lh6bg=" crossorigin="anonymous"></script>
    <script src="~/js/analyze.js"></script>

}