@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var articles = (List<Article>)ViewData["articles"];
    var selected = (Article)ViewData["selectedArticle"];
}
<div class="container-fluid bg-dark text-light pt-5 pb-0 mb-0">
    <div class="container">
       
    </div>
</div>
<div style="position: absolute;" class="bg-dark container-fluid py-5"></div>
<!-- End Header Content -->
<!-- Start Main Content -->
<div class="container mb-5">
    <!-- First Card -->

    <div class="row">
        <div class="card card-3 col-12 mt-5 pb-3">
            <div class="row">
                <div class="col-md-6">
                    <div class="card text-center p-2 mb-4 card-3 title-card text-light"><span class="h3">Articles</span></div>
                </div>
                <div class="col-md-6">

                </div>
                <!-- Title -->

            </div>
            <div class="row">

                <div class="col-md-4 px-5">

                    <p class="h4 mb-4">Select an Article</p>
                    <div class="scroll-box">
                        @foreach (var article in articles)
                            {
                            <a asp-controller="ViewSource" asp-action="Index" asp-route-id=@article.ID class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <p class="mb-1">@article.Title</p>
                                </div>
                                <div class="d-flex w-100 justify-content-between">
                                    <small>@article.Source</small>

                                    <small>@article.Date.ToShortDateString()</small>

                                </div>
                            </a>

                            }
                    </div>
                </div>
                <div class="col-md-8 px-5">
                    <p class="h4 mb-4">Article Text</p>
                    <div class="card scroll-box p-3">
                        <h5>@selected.Title</h5>
                        <p>@selected.Body</p>
                    </div>
                </div>

            </div>
            <!--                     <div class="row"><button class="btn btn-lg btn-danger ml-auto mr-3 px-5 text-lg card-1">Update</button></div>
             -->
        </div>
    </div>
</div>