@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<Company> companies = (List<Company>)ViewData["companies"];
}
<div class="container-fluid bg-dark text-light pt-5 pb-5 mb-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <!-- <p class="mb-0">Choose company:</p>
                <div class="dropdown show">
                    <a id="" class="title-drop btn btn-secondary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="h2">Apple (AAPL)</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Amazon</a>
                        <a class="dropdown-item" href="#">Costco</a>
                        <a class="dropdown-item" href="#">IBM</a>
                    </div>
                </div> -->
            </div>
            <div class="col-sm-5 d-flex">
                <div class="align-self-center">
                    <div id="search-bar">
                        <div class="input-group">
                            <input class="form-control input-lg" type="search" placeholder="Search Companies" aria-label="Search">
                            <button class="btn btn-info" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<div style="position: absolute;" class="bg-dark container-fluid py-5"></div>
        </div>
<!-- End Header Content -->
<!-- Start Main Content -->
<div class="container mb-5">
    <!-- First Card -->
    <div class="row">
        <div class="col-12 card card-3 pb-4">
            <div class="row">
                <div class="col-6">
                    <div class="card text-center p-2 card-3 title-card text-light"><span class="h4">Add Article</span></div>
                </div>
                <div class="col-6">

                </div>
            </div>
            <div class="row px-5 pt-4">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form id="addArticleForm" name="addArticleForm" action="">
                        <div class="form-group">
                            <label for="object-a">Company</label>
                            <select name="company" class="form-control">
                                @foreach(Company c in companies)
                                {
                                    <option value="@c.ID">@c.Name</option>

                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="source">Text Source</label>
                            <input required type="text" name="source" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="url">Article URL</label>
                            <input required type="text" name="url" class="form-control">
                        </div>
                        <div class="form-group">
                            <div class="row">

                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="month">Month</label>
                                        <select name="month" class="form-control">
                                            <option value="Jan">Jan</option>
                                            <option value="Feb">Feb</option>
                                            <option value="Mar">Mar</option>
                                            <option value="Apr">Apr</option>
                                            <option value="Jan">May</option>
                                            <option value="Feb">Jun</option>
                                            <option value="Mar">Jul</option>
                                            <option value="Apr">Aug</option>
                                            <option value="Jan">Sep</option>
                                            <option value="Feb">Oct</option>
                                            <option value="Mar">Nov</option>
                                            <option value="Apr">Dec</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="day">Day</label>
                                        <select name="day" class="form-control">
                                            @for (var i = 1; i <= 31; i++)
                {
                            <option value="@i">@i</option>
}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="year">Year</label>
                                        <select name="year" class="form-control">
                                            @for (var i = DateTime.Now.Year; i > DateTime.Now.Year - 16; i--)
                {
                            <option value="@i">@i</option>

}
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="title">Article Title</label>
                            <input required type="text" name="title" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="text">Article Text</label>
                            <textarea required class="form-control" id="source-text" name="text" rows="6"></textarea>
                        </div>

                    </form>
                    <div class="form-group d-flex justify-content-end">
                        <button id="submitArticle" class="btn btn-primary ml-auto">Save Article</button>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>

        </div>
    </div>

</div>

@section Scripts {
    <script src="~/js/addSource.js"></script>
}